* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app {
	height: 100%;
}


.flex {
	display: flex;
}
.w-full{
	width: 100%;
}
.h-full{
	height: 100%;
}
.flex-1{
	flex: 1;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.flex-end{
	justify-content: flex-end;
	align-items: center;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.ml-20{
	margin-left: 20px;
}
.p-20{
	padding: 20px;
}
.flex-box{
	display: flex;
	flex-wrap: wrap;
}
.flex-between{
	justify-content: space-between;
}
.card{
	border:1px solid #ccc;
	padding: 20px 20px 0;
}